/GestionVeterinariaGen/GestionVeterinariaCP/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/GestionVeterinariaGen/GestionVeterinariaGenNHibernate.suo
/GestionVeterinariaGen/GestionVeterinariaGenNHibernate/bin/Debug/GestionVeterinariaGenNHibernate.dll
/GestionVeterinariaGen/GestionVeterinariaGenNHibernate/bin/Debug/GestionVeterinariaGenNHibernate.pdb
/GestionVeterinariaGen/GestionVeterinariaGenNHibernate/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/GestionVeterinariaGen/GestionVeterinariaGenNHibernate/obj/Debug/GestionVeterinariaGenNHibernate.dll
/GestionVeterinariaGen/GestionVeterinariaGenNHibernate/obj/Debug/GestionVeterinariaGenNHibernate.pdb
/GestionVeterinariaGen/InitializeDB/bin/Debug/GestionVeterinariaGenNHibernate.dll
/GestionVeterinariaGen/InitializeDB/bin/Debug/GestionVeterinariaGenNHibernate.pdb
/GestionVeterinariaGen/InitializeDB/bin/Debug/InitializeDB.exe
/GestionVeterinariaGen/InitializeDB/bin/Debug/InitializeDB.pdb
/GestionVeterinariaGen/InitializeDB/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/GestionVeterinariaGen/InitializeDB/obj/x86/Debug/InitializeDB.csprojResolveAssemblyReference.cache
/GestionVeterinariaGen/InitializeDB/obj/x86/Debug/InitializeDB.exe
/GestionVeterinariaGen/InitializeDB/obj/x86/Debug/InitializeDB.pdb
/GestionVeterinariaGen/WindowsFormsApplication1/bin/Debug/GestionVeterinariaGenNHibernate.dll
/GestionVeterinariaGen/WindowsFormsApplication1/bin/Debug/GestionVeterinariaGenNHibernate.pdb
/GestionVeterinariaGen/WindowsFormsApplication1/bin/Debug/WindowsFormsApplication1.exe
/GestionVeterinariaGen/WindowsFormsApplication1/bin/Debug/WindowsFormsApplication1.pdb
/GestionVeterinariaGen/WindowsFormsApplication1/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/GestionVeterinariaGen/WindowsFormsApplication1/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/GestionVeterinariaGen/WindowsFormsApplication1/obj/x86/Debug/WindowsFormsApplication1.csproj.GenerateResource.Cache
/GestionVeterinariaGen/WindowsFormsApplication1/obj/x86/Debug/WindowsFormsApplication1.csprojResolveAssemblyReference.cache
/GestionVeterinariaGen/WindowsFormsApplication1/obj/x86/Debug/WindowsFormsApplication1.exe
/GestionVeterinariaGen/WindowsFormsApplication1/obj/x86/Debug/WindowsFormsApplication1.pdb